:root {
  --nbrColor1: #478cd2;
  --nbrColor2: #a3d149;
  --nbrColor3: #f84f37;
  --nbrColor4: #f8b446;
  --nbrColor5: #8e4dbd;
  --nbrColor6: #5fd1bc;
  --nbrColor7: #d35697;
  --nbrColor8: #fcf934;
}

* {
  box-sizing: border-box;
  border: 1px solid gray;
  font-family: helvetica;
}

body {
  margin: auto;
}

header {
  display: flex;
  justify-content: space-evenly;
  height: calc(100vh / 5);
  padding: 1em;
}

h1,
h2 {
  font-size: 1em;
  text-align: center;
}

header div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5em;
}

main {
  display: flex;
  justify-content: center;
  height: calc(100vh * 4 / 5 - 3em);
  min-height: 400px;
}

.side1,
.side2 {
  width: 5em;
}

section {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: calc(100vw - 10em);
}

.hero {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 15%;
  /* padding: 1em; */
}

.grid-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 1em; */
}

.grid {
  background: rgb(255, 255, 255, 0.8);
  background-image: url('../images/hay-house.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: color-burn;
  /* height: 110px;
  width: 110px; */
  padding: 0;
  display: block;
}

.grid button {
  /* font-size: 0.5em; */
  border: 1px solid lightgrey;
  display: inline-flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  /* color: transparent */
}

.nbr, .safeZone, .bomb {
  color: transparent
}
.bomb{
  color: red;
}


footer {
  height: 3em;
  display: flex;
  justify-content: space-around;
}

#reset {
  display: flex;
  height: 100%;
  aspect-ratio: 1;
}

.safeZoneClicked {
  background-color: transparent;
  color:transparent
  /* background-image: url('../images/cat.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
}

.nbrClicked {
  background-color: transparent;
}

.bombClicked {
  background-color: transparent;
  /* color: transparent; */
  /* background-image: url('../images/mole.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
}

.flag {
  background-image: url('../images/head.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#nbr0  {
  color: transparent;
}
#nbr1 {
  color: var(--nbrColor1);
}
#nbr2  {
  color: var(--nbrColor2);
}
#nbr3 {
  color: var(--nbrColor3);
}
#nbr4  {
  color: var(--nbrColor4);
}
#nbr5 {
  color: var(--nbrColor5);
}
#nbr6  {
  color: var(--nbrColor6);
}
#nbr7 {
  color: var(--nbrColor7);
}
#nbr8  {
  color: var(--nbrColor8);
}

