* {
  box-sizing: border-box;
  border: 1px solid gray;
  font-family: helvetica;
  padding: 5px;
}

body {
  margin: auto;
}

header {
  display: flex;
  justify-content: space-evenly;
  height: calc(100vh / 5);
  padding: 1em;
}

h1, h2{
  font-size: 1em;
  text-align: center;
}

header div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5em;
}

main {
  display: flex;
  justify-content: center;
  height: calc(100vh * 4 / 5 - 3em);
  min-height: 400px;
}

.side1,
.side2 {
  width: 5em;
}

section {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: calc(100vw - 10em);
}

.hero {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 15%;
  /* padding: 1em; */
}

.grid-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 1em; */
}

.grid {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  height: 110px;
  width: 110px;
  /* aspect-ratio: 1; */
  padding: 0;
  display: block;
}

.cell {
  font-size: 0.5em;
  border: 1px solid lightgrey;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-transform: none;
}

footer {
  height: 3em;
  display: flex;
  justify-content: space-around;
}

#reset {
  display: flex;
  height: 100%;
  aspect-ratio: 1;
}

.nbr {
  color : blue;
}

.bomb {
  color : red;
}

.nbrClicked {
  color : greenyellow;
}

.safeZoneClicked {
  background-image: url('../images/cat.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bombClicked {
  color : red;
  background-image: url('../images/mole.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.flag {
  background-image: url('../images/head.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

